In [1]:
import csv
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori

In [2]:
dataset = []

In [3]:
with open('CraftZoneStoreDataSet.csv', 'r') as csv_file:
    csv_reader = csv.reader(csv_file)
    next(csv_reader)
    for row in csv_reader:
        dataset.append(row)

In [4]:
data = [[item for item in sublist if item != ''] for sublist in dataset]

In [5]:
data[:5]

[['Keychain', 'Bag', 'iPhone Case'],
 ['Bag', 'Ring', 'Key Chain'],
 ['Painting', 'Canvas', 'iPhone Case'],
 ['Bear', 'Fluid Art', 'Key Chain'],
 ['Bracelet', 'Ring', 'iPhone Case']]

In [6]:
te = TransactionEncoder()
te_data = te.fit(data).transform(data)
df = pd.DataFrame(te_data,columns=te.columns_)
df

,Bag,Bear,Bouquet,Bracelet,Candle,Canvas,Contactlens case,Cup,Cup Mat,Decoden Cream,...,Necklace,Painting,Phone Chain,Phone Stand,Photo Frame,Ring,Tissue Box,Tufting,hair claw clips,iPhone Case
0,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
1,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
2,False,False,False,False,False,True,False,False,False,False,...,False,True,False,False,False,False,False,False,False,True
3,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
103,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
104,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
105,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
106,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False

In [7]:
df1 = apriori(df,min_support=0.05,use_colnames=True)
df1

     support                                 itemsets
0   0.056075                                    (Cup)
1   0.084112                                (Cup Mat)
2   0.056075                              (Fluid Art)
3   0.186916                              (Key Chain)
4   0.074766                            (Phone Chain)
5   0.093458                            (Phone Stand)
6   0.056075                                   (Ring)
7   0.224299                            (iPhone Case)
8   0.056075               (Phone Chain, Phone Stand)
9   0.056075               (iPhone Case, Phone Chain)
10  0.065421               (iPhone Case, Phone Stand)
11  0.056075  (iPhone Case, Phone Stand, Phone Chain)

In [8]:
df1.sort_values(by="support",ascending=False)

     support                                 itemsets
7   0.224299                            (iPhone Case)
3   0.186916                              (Key Chain)
5   0.093458                            (Phone Stand)
1   0.084112                                (Cup Mat)
4   0.074766                            (Phone Chain)
10  0.065421               (iPhone Case, Phone Stand)
0   0.056075                                    (Cup)
2   0.056075                              (Fluid Art)
6   0.056075                                   (Ring)
8   0.056075               (Phone Chain, Phone Stand)
9   0.056075               (iPhone Case, Phone Chain)
11  0.056075  (iPhone Case, Phone Stand, Phone Chain)

In [9]:
df1['length'] = df1['itemsets'].apply(lambda x:len(x))
df1

     support                                 itemsets  length
0   0.056075                                    (Cup)       1
1   0.084112                                (Cup Mat)       1
2   0.056075                              (Fluid Art)       1
3   0.186916                              (Key Chain)       1
4   0.074766                            (Phone Chain)       1
5   0.093458                            (Phone Stand)       1
6   0.056075                                   (Ring)       1
7   0.224299                            (iPhone Case)       1
8   0.056075               (Phone Chain, Phone Stand)       2
9   0.056075               (iPhone Case, Phone Chain)       2
10  0.065421               (iPhone Case, Phone Stand)       2
11  0.056075  (iPhone Case, Phone Stand, Phone Chain)       3

In [10]:
df1[(df1['length']==2) & (df1['support']>=0.05)]

     support                    itemsets  length
8   0.056075  (Phone Chain, Phone Stand)       2
9   0.056075  (iPhone Case, Phone Chain)       2
10  0.065421  (iPhone Case, Phone Stand)       2